// primary colors
$primary: #76B900;
$secondary: #f3f3f3;
$white: #fff ;
$black: #000;
$dark: #212121;
$light: #F8F8F8;

// files
@import "reset";
@import "mixins";
@import "alza";
@import "settings";
@import "features";
@import "type";

// layout
@import "layout/header";
@import "layout/mainWrapper";
@import "layout/block";
@import "layout/table";
@import "layout/navigation";
@import "layout/content";
@import "layout/tiles";
@import "layout/carousel";
@import "layout/articles";
@import "layout/footer";


// components
@import "components/tableNav";
@import "components/products";
@import "components/conditions";
@import "components/checkItems";
@import "components/contentBoxes";
@import "components/links";




