#landingpage{
    .lpHeader{
        background: $black;
        min-height: 500px;
        position: relative;
        padding: 48px 0 0;
        overflow: hidden;
        
        // shine
        &--shineTop,
        &--shineBottom{
            width: 960px;
            height: 100px;
            background: url('https://cdn.alza.cz/Foto/or/lp/prvniMac/build/img/shine.svg') center no-repeat;
            background-size: cover;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 480px;
        }

        &--shineTop{
            top: 15%;
        }

        &--shineBottom{
            top: 65%;
            height: 285px;
            background: url('https://cdn.alza.cz/Foto/or/lp/prvniMac/build/img/shine2.svg') center no-repeat;
            width: 1310px;
            z-index: 0;
        }

        .notMoveH1{
            color: $white;
            margin-top: 40px;
        }

        .subHdl{
            color: $white;
            margin-top: 40px;
        }

        &--product{
            position: relative;
            z-index: 3;
            margin: 24px auto 0;
        }
    }
}