#landingpage{
    .grayBox{
        padding: 20px;
        border-radius: 4px;
        background-color: $light;
        margin-top: 24px;

        &__wrapper{
            @include flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__textWrapper{
            width: calc(50% - 10px);
            text-align: left;
            order: 1;

            .par{
                margin-top: 10px !important;
            }

            .par-sm{
                margin-top: 24px;
            }
        }

        &__imageWrapper{
            width: calc(50% - 10px);
            order: 2;

            .imgBoard{
                margin-top: 0;
            }
        }
    }
}

// media
@media only screen and (max-width: 750px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .grayBox{
            &__textWrapper{
                width: 100%;
                order: 1;
    
                .par{
                    margin-top: 0 !important;
                }
            }
    
            &__imageWrapper{
                margin-top: 24px;
                width: 100%;
                order: 2;
            }
        }
    }
}