#landingpage{
    .imgBoard{
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0 1px 4px rgba($color: $black, $alpha: .15);
        padding: 10px;
        margin-top: 24px;

        &--image{
            margin: 0 auto;
        }

        .par-min{
            text-align: center;
            margin-top: 10px;
            color: #A4A4A4;
        }
    }
}