#landingpage{
    .infoBanner{
        padding-top: 56px;

        &__wrapper{
            @include flex;
            justify-content: center;
            align-items: stretch;
            overflow: hidden;
            border-radius: 4px;
        }

        &__icon{
            background: rgb(0,148,231);
            background: linear-gradient(45deg, rgba(0,148,231,1) 0%, rgba(54,183,255,1) 100%);
            width: 80px;
            @include flex;
            align-content: center;

            svg{
                width: 32px;
                height: 32px;
            }
        }

        &__text{
            flex: 1;
            background-color: #F8F8F8;
            padding: 20px;
            @include flex;
            align-content: center;
            justify-content: space-between;
        }

        &__textWrapper{
            text-align: left;
            flex: 3;

            .par-sm{
                color: $dark;
                margin-top: 10px !important;

                &:first-of-type{
                    margin-top: 0 !important;
                }

                strong{
                    font-weight: 500;
                }
            }
        }

        &__buttonWrapper{
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
    }
}

// media
@media only screen and (max-width: 750px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .infoBanner{
            &__icon{
                width: 100%;
                height: 48px;
            }

            &__textWrapper{
                flex: auto;
                width: 100%;
            }

            &__buttonWrapper{
                flex: auto;
                display: table;
                
                .btn{
                    margin: 24px auto 0;
                }
            }
        }
    }
}